.photo{
  float: left;
  margin-right: 30px;
}
  

.gyouza{
  content: "";
  clear: both;
  display: block;
}
.explanation{
  float: left;
  width: 468px;
}

dt{
  clear: left;
    float: left;
  font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.btn:hover{
  opacity: 1.7;
}
.btn:active{
  color: black;
}

.btn-submit{
  background-color: red;
}
.btn-reset{
  background-color: blue;
}


#ingredient{
  border: 2px solid lightcoral;
  border-collapse: collapse;
  
}
th{
  border: 1px solid lightcoral;
  background-color: mistyrose;
  padding: 5px;
  width: 100px;
  text-align: center;
}
td{
  border: 1px solid lightcoral;
  padding: 5px;
  width: 80px;
  text-align: right;
}

caption{
  padding: 5px;
}

#price{
  background-color: lightyellow;
}

thead th, tfloat th{
  background-color: while;
}
thead td{
  color: while;
  background-color: lightcoral;
  text-align: center;
}

tfloat td{
  font-weight: bold;
  background-color: while;
}
