
.gyouza{
  count: "";
  clear: both;
  display: block;
}
.explanation{
  float: left;
}

dt{
  clear: left;
    float: left;
  font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  margin: 5px;
}
